
@property --g10-x {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
}
@property --g10-y {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
}
@property --g10-a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  body {
    padding: 10px; /* Further reduce padding for extra small screens */
  }
}


.certificate-list {
  padding: 10px;
  margin: 20px auto; /* Center the list horizontally */
  list-style-type: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
}

.certificate-list li {
  padding: 10px;
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;
  border: 2px solid transparent;
  flex: 0 0 calc(33.33% - 20px); /* Three items per row; adjust as needed */
  max-width: calc(33.33% - 20px); /* Ensure items don't exceed one-third of the container width */
  margin: 10px; /* Adjust margin between items */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.certificate-list li:hover {
  background-color: #30343F; 
  border-color: #89023E;
  padding: 10px;
}

.certificate-list li a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
  transition: color 0.2s; /* Smooth color transition */
}

.certificate-list li a:hover {
  color: #89023E;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .certificate-list li {
    flex: 0 0 calc(50% - 20px); /* Two items per row on smaller screens */
    max-width: calc(50% - 20px); /* Adjust max-width accordingly */
  }
}

/* Additional responsive adjustments for body padding */
@media (max-width: 576px) {
  body {
    padding: 10px; /* Reduce padding on extra small screens */
  }
}

/* Optional: Adjustments for other elements as needed */



#header-container {
  position: fixed; /* Fixed position at the top of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  z-index: 1000; /* Ensure it's above other content */
  font-family: "Montserrat", sans-serif; /* Font family for text */
  background: #ffffff; /* Background color for readability */
  padding: 10px 20px; /* Padding around content inside header */
  box-sizing: border-box; /* Include padding in total width calculation */
  transition: all 0.3s ease; /* Smooth transition for responsiveness */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #header-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  #header-container {
    padding: 5px; /* Further reduce padding for extra small screens */
  }
}


/* Base styles for navbar */
.navbar-brand {
  color: #000000; /* Logo color */
  font-size: 2.5rem; /* Adjust logo font size */
  text-decoration: none; /* Remove underline from links */
}

.navbar-nav .nav-link {
  color: #000000; /* Link color */
  font-weight: bold;
  font-size: 1rem; /* Adjust font size */
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none; /* Remove underline from links */
  position: relative; /* Ensure proper stacking of border */
  overflow: hidden; /* Hide overflow to prevent clipping of animated borders */
}

/* Border animation keyframes */
@keyframes borderExpand {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.navbar-brand {
  display: inline-block;
  transition: transform 0.3s ease; /* Add a smooth transition for transform */
  
}

.navbar-brand:hover {
  transform: scale(1.1); /* Scale up the logo on hover */
}


.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dacbd1; /* Initial border color */
  transition: width 0.3s ease-out, opacity 0.3s ease-out; /* Transition for width and opacity */
  z-index: -1; /* Behind the link text */
}

.navbar-nav .nav-link:hover::before {
  animation: borderExpand 0.3s forwards; /* Apply animation on hover */
}

.navbar-nav .nav-link:hover {
  color: #d89cb7; /* Color change on hover */
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.8rem; /* Decrease logo font size for smaller screens */
  }
  
  .navbar-nav .nav-link {
    font-size: 0.9rem; /* Decrease link font size for smaller screens */
    padding: 10px 12px; /* Decrease padding for links on smaller screens */
  }
}

.navbar-toggler {
  background-color: #ff69b4; 
  border-color: #ff69b4; 
  color: #fff; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/* Hover effect */
.navbar-toggler:hover {
  background-color: #ff4f9e; 
  border-color: #ff4f9e; 
}

/* Video Container */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  border-radius: 10px;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 10px;
}

/* Clip-path styles for top and bottom sections */
.top {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
}

.bottom {
  padding-top: 50px;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
  margin-top: -40px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-container {
    height: 50vh; /* Adjust video container height for smaller screens */
  }
}

/* Base styles for the certificate list */
.certificate-list {
  padding: 10px;
  margin: 20px auto; /* Center the list horizontally and provide vertical margin */
  list-style-type: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 600px; /* Limit the maximum width of the list for readability */
}

/* Styles for each list item */
.certificate-list li {
  padding: 10px;
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;
  border: 2px solid transparent;
  margin-bottom: 10px; /* Add spacing between list items */
}

/* Hover effect for list items */
.certificate-list li:hover {
  background-color: #30343F; 
  border-color: #89023E;
}

/* Styles for links within list items */
.certificate-list li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

/* Hover effect for links within list items */
.certificate-list li a:hover {
  color: #89023E;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .certificate-list {
    padding: 5px; /* Reduce padding on smaller screens */
  }

  .certificate-list li {
    padding: 8px;
    font-size: 0.9rem; /* Decrease font size for list items */
  }
}

.skills-list {
  list-style-type: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-botton: 20px;
}

.skills-list li {
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  transition: background-color 0.2s;
  flex: 0 0 calc(50% - 20px); /* Two items per row on medium screens; adjust as needed */
  max-width: calc(50% - 20px); /* Ensure items don't exceed half of the container width */
  margin: 10px;
  box-sizing: border-box;
  
}

.skills-list li:hover {
  background-color: #d3d6e6;
}

.animated-icon {
  margin-right: 10px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.animated-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .skills-list li {
    flex: 0 0 calc(50% - 20px); /* Two items per row on tablets; adjust as needed */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .skills-list li {
    flex: 0 0 calc(100% - 20px); /* Single item per row on mobile devices */
    max-width: calc(100% - 20px);
  }
}



/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

.text-center {
  text-align: center;
}

/* Grid layout styles */
.grid {
  display: grid;
  grid-gap: 32px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .grid {
    grid-gap: 20px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-gap: 16px;
    padding: 10px;
  }

  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .grid {
    grid-gap: 10px;
    padding: 10px;
  }

  .grid-2-columns,
  .grid-3-columns,
  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr;
  }
}

/* Base styles for main */
/* Styles for main section */
main {
  background-color: white;
  padding: 10px; /* Default padding */
  max-width: 1200px; /* Max width for larger screens */
  margin: 0 auto; /* Center align main */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Heading styles */
main h2 {
  font-weight: 700;
  font-size: 24px; /* Increase font size for readability */
  line-height: 1.5;
  margin: 20px 0 10px; /* Adjust margin for spacing */
  letter-spacing: 2px; /* Reduce letter spacing */
  color: #652a3b;
  opacity: 0.7;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

main h3 {
  font-weight: 700;
  font-size: 32px; /* Increase font size for readability */
  line-height: 1.5;
  color: #89023E;
  margin: 20px 0; /* Adjust margin for spacing */
  font-family: "Montserrat", sans-serif;
}

main h4 {
  font-weight: 700;
  font-size: 20px; /* Increase font size for readability */
  line-height: 1.2;
  color: #272044;
  margin: 10px 0; /* Adjust margin for spacing */
  font-family: "Montserrat", sans-serif;
}

/* Paragraph styles */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

main p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #30343F;
  opacity: 0.7;
  animation: fadeIn 1s ease; /* Apply fadeIn animation */
  text-align: justify;
  transition: transform 0.8s ease, background-color 0.3s ease; /* Add transition for smooth effect */
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

main p:hover {
  background-color: #edc7d2;
  transform: scale(1.02); /* Slight zoom on hover */
  padding: 20px; /* Increase padding on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    padding: 10px; /* Reduce padding */
  }

  main h2 {
    font-size: 20px; /* Decrease font size */
    margin: 10px 0;
  }

  main h3 {
    font-size: 28px; /* Decrease font size */
    margin: 10px 0;
  }

  main h4 {
    font-size: 18px; /* Decrease font size */
    margin: 5px 0;
  }

  main p {
    font-size: 14px; /* Decrease font size */
    line-height: 1.5;
  }
}

@media (max-width: 576px) {
  main h2 {
    font-size: 18px; /* Further decrease font size */
  }

  main h3 {
    font-size: 24px; /* Further decrease font size */
  }

  main h4 {
    font-size: 16px; /* Further decrease font size */
  }

  main p {
    font-size: 13px; /* Further decrease font size */
  }
}


.skills-container {
  max-width: 100%; /* Adjusted to fit the width of the viewport */
  margin-top: 30px;
  background-color: #FFD9DA;
  color: #ffffff;
  padding: 20px; /* Padding around the items */
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  font-family: "Montserrat", sans-serif;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .skills-container {
    padding: 15px; /* Further reduced padding for smaller screens */
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .skills-container {
    padding: 10px; /* Minimal padding for very small screens */
  }
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  cursor: pointer;
}

.skills-list li {
  margin-top: 10px;
  text-align: center; /* Center text */
  flex: 0 0 calc(33.33% - 20px); /* Three items per row; adjust as needed */
  max-width: calc(33.33% - 20px); /* Ensure items don't exceed one-third of the container width */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
  cursor: pointer;
}

.animated-icon {
  font-size: 40px; /* Increase icon size */
  animation: colorChange 2s infinite alternate; /* Apply animation */
  transition: transform 0.3s; /* Add transition for smooth zoom effect */
  cursor: pointer;
}

.animated-icon:hover {
  transform: scale(1.3); /* Zoom effect on hover */
}

@keyframes colorChange {
  0% {
    color: #EA638C;

  }
  100% {
    color: #89023E;
  }
}

.skill-text {
  font-size: 16px; /* Adjust text size */
  padding: 10px; /* Padding around text */
  margin: 10px; /* Margin between items */
}

.certificate-list {
  padding: 0; /* Adjusted padding */
  margin: 20px;
  list-style-type: none;
  text-align: center;
}

.certificate-list li {
  padding: 10px;
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;
  border: 2px solid transparent;
  display: block; /* Ensure each list item is displayed as a block */
  margin-bottom: 10px; /* Add margin between list items */
}

.certificate-list li:hover {
  background-color: #e6d3dc; /* Change background color on hover */
  border-color: #e6d3dc; /* Change border color on hover */
  padding: 10px; /* Adjusted padding on hover */
}

    
 .card {
      background: white;
      margin-bottom: 30px;
      border-radius: 10px;
      text-align: center;
      color:#30343F;
      font-family: "Montserrat", sans-serif;
      
    }

    .card img {
      height: 200px;
      object-fit: cover;
      cursor: pointer;
      transition: opacity 0.3s ease;
    }

    .card img:hover {
      opacity: 0.8;
    }

    .card-description {
      padding: 20px;
      color: rgb(48, 69, 124);
    }

   .card:hover .card-description {
  background-color: #ea638c; /* Adjusted background color */
  transform: scale(0.95); /* Scale down effect */
  transition: background-color 0.5s ease, transform 0.5s ease; /* Slower transition */
}


    .card-description h3 {
      margin: 10px 0;
      font-size: 20px;
    }

    .card-description p {
      margin-top: 10px;
      
    }

    .card-footer {
      padding: 0 20px 20px;
    }

    .btn.btn-primary {
  display: inline-block;
  background-color: #d78e90;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add margin to separate from other content */
  margin-bottom: 24px;
  border-color: white;
}

    .btn.btn-primary:hover {
      background-color: #c35caf;
      border: none;
    }

    .container {
  max-width: 100%; /* Adjusted to fit the width of the viewport */
  margin: 0 auto; /* Center the container horizontally */
}

section,
main {
  max-width: 100%; /* Adjusted to fit the width of the viewport */
  margin: 0 auto; /* Center the section/main horizontally */
}

/* Remove padding from section and main elements */
section,
main {
  padding: 0; /* Remove padding */
}

h2,
h3 {
  font-size: 24px; /* Set the font size */
  margin-bottom: 20px; /* Set the margin bottom */
  text-align: center; /* Center align the text */
  color: #2e1588; /* Set the text color */
  
}

/* Additional styling for h2 */
h2 {
  font-weight: bold; /* Set font weight */
  padding-top: 30px;
}

/* Additional styling for h3 */
h3 {
  font-weight: normal; /* Set font weight */
}

.footer {
  background-color: #FFD9DA;
  padding: 20px;
  text-align: center;
}

.footer-heading {
  color: #1B2021;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.footer-icons {
  text-align: center;
  margin-top: 20px; /* Add top margin for spacing */
}

.footer-icons a {
  display: inline-block;
  margin: 0 10px; /* Adjust margin between icons */
  background-color: transparent; /* Set background color to transparent */
  padding: 10px; /* Add padding to the icons */
  border-radius: 50%; /* Make the icons circular */
  font-size: 30px;
  color: #EA638C;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
}

.footer-icons a:hover {
  background-color: #EA638C; /* Change background color on hover */
  color: #FFD9DA; /* Change text color on hover */
}

.footer-icon {
  animation: pulseAnimation 1.5s ease-in-out infinite;
  cursor: pointer;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



#contact {
  background-color: #de96ac;
  padding: 20px;
  text-align: left;
  font-family: "Teachers", sans-serif;
  color: #30343F;
  font-size: 24px; /* Adjusted font size */
  margin-bottom: 20px;
  border-radius: 10px;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  max-width: 600px; /* Set max-width for the form */
  margin: 0 auto; /* Center align the form */
  padding: 10px; /* Adjust padding for smaller screens */
  background-color: #ffffff; /* White background for the form */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

#contact label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px; /* Adjusted font size */
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: calc(100% - 20px); /* Adjust input width to account for padding */
  padding: 10px;
  font-size: 14px; /* Adjusted font size */
  margin-bottom: 15px; /* Decrease margin-bottom */
  font-family: "Teachers", sans-serif;
  color: #1B2021;
}

#contact textarea {
  resize: vertical;
}

#contact button {
  padding: 10px 20px;
  font-size: 16px; /* Adjusted font size */
  background-color: #89023E;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Teachers", sans-serif;
  border-radius: 5px;
}

#contact button:hover {
  background-color: #3d2c6d;
}
/* Loader Styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure loader is on top */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.loader-inner {
  width: 50px; /* Adjusted to a more reasonable size */
  height: 50px;
  border-radius: 50%; /* Circle shape */
  background: radial-gradient(farthest-side, #514b82 0%, #0000 100%);
  animation: l10 1.5s infinite linear; /* Ensure continuous animation */
}

@keyframes l10 {
  0% {
    transform: scale(0);
    background: radial-gradient(farthest-side, #824b79 0%, #0000 100%);
  }
  50% {
    transform: scale(1);
    background: radial-gradient(farthest-side, #f294e5 50%, #0000 100%);
  }
  100% {
    transform: scale(0);
    background: radial-gradient(farthest-side, #401938 0%, #0000 100%);
  }
}

.loader-hidden {
  opacity: 0; /* Fade out the loader */
  pointer-events: none; /* Disable pointer events to allow interaction */
}
